body{
    padding: 0;
    margin: 0;
}

.game-page {
    display: none;
    transition: all 1s;
    height: 90vh !important;
    z-index: 1;
    padding-top: 25px;
}

body video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-page{
    transition: all 1s;
    background-color: black;
    color: white;
    height: 100vh !important;
    width: 100%;
    display: block;
}

.div-start{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div1{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-card{
    width: 70%;
    height: 98vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ligne1{
    width: 95%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ligne2 {
    width: 95%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-easy .cards{
    height: 95%;
    width: 170px;
    transition: transform 0.5s;
    background-image: url("../img/valo.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.game-medium .cards {
    height: 95%;
    width: 150px;
    transition: transform 0.5s;
    background-image: url("../img/valo.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.game-hard .cards {
    height: 95%;
    width: 130px;
    transition: transform 0.5s;
    background-image: url("../img/valo.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.cards[data-value="1"].flipped {
    height: 95%;
    width: 170px;
    background-image: url("../img/valo-1.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}

.cards[data-value="2"].flipped {
    height: 95%;
    width: 170px;
    background-image: url("../img/valo-2.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}

.cards[data-value="3"].flipped {
    height: 95%;
    width: 170px;
    background-image: url("../img/valo-3.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}

.cards[data-value="4"].flipped {
    height: 95%;
    width: 150px;
    background-image: url("../img/valo-1.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}

.cards[data-value="5"].flipped {
    height: 95%;
    width: 150px;
    background-image: url("../img/valo-2.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}

.cards[data-value="6"].flipped {
    height: 95%;
    width: 150px;
    background-image: url("../img/valo-3.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}

.cards[data-value="7"].flipped {
    height: 95%;
    width: 150px;
    background-image: url("../img/valo-4.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}

.cards[data-value="8"].flipped {
    height: 95%;
    width: 130px;
    background-image: url("../img/valo-1.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}

.cards[data-value="9"].flipped {
    height: 95%;
    width: 130px;
    background-image: url("../img/valo-2.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}

.cards[data-value="10"].flipped {
    height: 95%;
    width: 130px;
    background-image: url("../img/valo-3.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}

.cards[data-value="11"].flipped {
    height: 95%;
    width: 130px;
    background-image: url("../img/valo-4.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}

.cards[data-value="12"].flipped {
    height: 95%;
    width: 130px;
    background-image: url("../img/valo-5.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}